* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scrollbar-width: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
